USE [master]
GO
/****** Object:  Database [QLBH_PhanDinhDung]    Script Date: 5/8/2022 5:00:33 PM ******/
CREATE DATABASE [QLBH_PhanDinhDung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH_PhanDinhDung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.OMUJI\MSSQL\DATA\QLBH_PhanDinhDung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_PhanDinhDung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.OMUJI\MSSQL\DATA\QLBH_PhanDinhDung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH_PhanDinhDung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH_PhanDinhDung]
GO
/****** Object:  Table [dbo].[CT_Hoadon]    Script Date: 5/8/2022 5:00:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Hoadon](
	[SoHD] [varchar](10) NOT NULL,
	[Mahang] [varchar](10) NOT NULL,
	[Soluong] [int] NULL,
	[Dongiaban] [int] NULL,
 CONSTRAINT [PK_CT_Hoadon] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC,
	[Mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hanghoa]    Script Date: 5/8/2022 5:00:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hanghoa](
	[Mahang] [varchar](10) NOT NULL,
	[Loaihang] [varchar](10) NULL,
	[Tenhang] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[Dongia] [int] NULL,
 CONSTRAINT [PK_Hanghoa] PRIMARY KEY CLUSTERED 
(
	[Mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 5/8/2022 5:00:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[SoHD] [varchar](10) NOT NULL,
	[Ngayban] [datetime] NULL,
	[MaKH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
 CONSTRAINT [PK_Hoadon] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 5/8/2022 5:00:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[Diachi] [nvarchar](100) NULL,
	[Quan] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](100) NULL,
 CONSTRAINT [PK_Khachhang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loaihang]    Script Date: 5/8/2022 5:00:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loaihang](
	[Maloai] [varchar](10) NOT NULL,
	[Tenloai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Loaihang] PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 5/8/2022 5:00:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[Diachi] [nvarchar](100) NULL,
	[Matkhau] [nvarchar](200) NULL,
	[Quyen] [bit] NULL,
 CONSTRAINT [PK_Nhanvien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Khachhang] ([MaKH], [TenKH], [Diachi], [Quan], [ThanhPho]) VALUES (N'KH01', N'Nguyễn Ngọc Hải', N'123 Nguyễn Trãi', N'Ba Đình', N'Hà Nội')
INSERT [dbo].[Khachhang] ([MaKH], [TenKH], [Diachi], [Quan], [ThanhPho]) VALUES (N'KH02', N'Lê Đức Hải', N'102 Hoàng Mai', N'Hoàng Mai', N'Hà Nội')
INSERT [dbo].[Khachhang] ([MaKH], [TenKH], [Diachi], [Quan], [ThanhPho]) VALUES (N'KH03', N'ngo quang hoan', N'123', N'Hoàng Mai231', N'Hà Nội124')
GO
INSERT [dbo].[Nhanvien] ([MaNV], [TenNV], [Diachi], [Matkhau], [Quyen]) VALUES (N'1001', N'Nguyễn Ngọc Hải', N'Hà Nội', N'792001', 1)
INSERT [dbo].[Nhanvien] ([MaNV], [TenNV], [Diachi], [Matkhau], [Quyen]) VALUES (N'1002', N'Lê Đức Hải', N'Hà Nội', N'123456', 1)
GO
ALTER TABLE [dbo].[CT_Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_CT_Hoadon_Hanghoa] FOREIGN KEY([Mahang])
REFERENCES [dbo].[Hanghoa] ([Mahang])
GO
ALTER TABLE [dbo].[CT_Hoadon] CHECK CONSTRAINT [FK_CT_Hoadon_Hanghoa]
GO
ALTER TABLE [dbo].[CT_Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_CT_Hoadon_Hoadon] FOREIGN KEY([SoHD])
REFERENCES [dbo].[Hoadon] ([SoHD])
GO
ALTER TABLE [dbo].[CT_Hoadon] CHECK CONSTRAINT [FK_CT_Hoadon_Hoadon]
GO
ALTER TABLE [dbo].[Hanghoa]  WITH CHECK ADD  CONSTRAINT [FK_Hanghoa_Loaihang] FOREIGN KEY([Loaihang])
REFERENCES [dbo].[Loaihang] ([Maloai])
GO
ALTER TABLE [dbo].[Hanghoa] CHECK CONSTRAINT [FK_Hanghoa_Loaihang]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_Khachhang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Khachhang] ([MaKH])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_Khachhang]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_Nhanvien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_Nhanvien]
GO
USE [master]
GO
